<h1>Edit an Article</h1>
<<<<<<< HEAD

<%= render partial: 'form' %>

<%= link_to "<< Back to Articles List", articles_path %>
=======
<%= render partial: 'form' %>


>>>>>>> 549219116c00636e22f7bef769c643ef6aaf6364
